---
import "../styles/global.css";
---

<div class="container">
    <h2>Thank you!</h2>
    <p>We will contact you within 12 hours.</p>

    <a class="btn btn-green" href="https://wa.me/9779800000000">
        Chat on WhatsApp
    </a>
</div>
